/*/**
!/sxhkd
!/vbar
!/bspwm
!/dunst
!/fish
!/kitty
!ranger
!/neofetch
!/picom
!/rofi
!/zathura


QtProject.conf
Trolltech.conf
baloofileinformationrc
dolphinrc
kdeglobals
kiorc
kservicemenurc
mimeapps.list
partitionmanagerrc
trashrc
yad.conf
