/*/**
!/sxhkd/**
!/vbar/**
!/bspwm/**
!/dunst/**
!/fish/**
!/kitty/**
!ranger/**
!/neofetch/**
!/picom/**
!/rofi/**
!/zathura/**
!/Code*/**
/Code*/*/**
/Code*/.*
/Code*/Cook*
/Code*/Net*
/Code*/*Sec*
/Code*/machineid
/Code*/*.json
!/Code*/User/**
/Code*/User/*Stor*/
# !/Code*/User/snippets/*.json

QtProject.conf
Trolltech.conf
baloofileinformationrc
dolphinrc
kdeglobals
kiorc
kservicemenurc
mimeapps.list
partitionmanagerrc
trashrc
yad.conf
filelightrc
kconf_updaterc
kolourpaintrc
manjaro-hello.json
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
vimrc
